@media (max-width: 768px) {
    .image{
        display: none;
    }
    #Titulo{
        width: 80%;
        text-align: center;
    }
}

@media (max-width: 961px) {
    #Lingua{
        gap: 0px;
    }
}


@media (max-width: 675px){
    #Lingua{
        font-size: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
}

